#root {
  margin: 0 auto;
  text-align: center;
}


/* Category */
.category {
}

.category-title {
}

.category-title small {
  float: right;
}

.category .category-day {
  flex: 1;
  height: 50px;
  margin: 0 5px;
  position: relative;
}

.category .category-day .category-day-tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 150%;
  width: 200px;
  background-color: white;
}

.category .category-day:hover {
  cursor: pointer;
}

.category .category-day:hover .category-day-tooltip {
  display: block;
  z-index: 1;
}